

.main{
    margin-top: 50px;
    margin-left: 100px;
    width:900px;
}


.left{
	width:268px;
	float:left;

}
.right{
	float:left;
	width:600px;

}
#txt{
	color: #19B68A;
	font-size: 10px;
}
#top10title{
	background-color:#19B68A;
}
.list-group-item {
	height:40px;
	font-size: 15px;
}
.top10{
	float: left;
	margin-right: 200px;
	height:100px;
	width:80%;
}
.table-bordered{
	

}