<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--题目-->
    <title>AnswerMe-Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS-->
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <!-- Flat UI CSS-->
    <link href="__CSS__/flat-ui.css" rel="stylesheet">
    <!--模板css-->
    <link href="__CSS__/template.css" rel="stylesheet">
    <link href="__CSS__/home.css" rel="stylesheet">
    <!--添加你的CSS-->

    <!--收藏夹图标-->
    <link rel="shortcut icon" href="__RESOURCE__/favor-icon.jpg">
  </head>

  <body>  
    <!-- 导航栏 -->
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="__RESOURCE__/logo-green.jpg">
          <span>Answer Me</span>
        </a>
      </div>
      <!--导航栏右侧状态(未登录/登陆后)-->
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <div class="loged hidden">
          <span class="fui-user"></span>
          <a href="myhome.html" id="usersname"></a>
          <span class="fui-heart"></span>
          <a href="like.html" class="like-num"></a>
          <div class="btn-group">
            <button id="chooseBtn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
             more <span class="caret"></span>
            </button>
            <ul id="dropdownMenu" class="dropdown-menu" role="menu">
              <li><a href="userHistory.html">编辑历史</a></li>
              <li><a href="settings.html">设置</a></li>
              <li class="divider"></li>
              <li><a id="logout_">退出</a></li>
            </ul>
          </div>
        </div>
        <div class="unloged ">
          <div id="btnNav" class="nav navbar-nav navbar-right btn-group">
            <button id="btnRegister" class="btn btn-sm navbar-btn" type="button" data-toggle="modal" data-target="#modalLogin">登录</button>
            <button id="btnLogin" class="btn btn-sm navbar-btn" type="button" data-toggle="modal" data-target="#modalRegister">注册</button>
          </div>
        </div>
      </div>
    </nav>
    <!-- /.导航栏 -->
    <!-- 模态框 -->
    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">登录</h4>
      </div>
      <div class="modal-body">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputUsername" id="labelUsername" class="col-sm-2 control-label">账号</label>
                <div class="col-sm-10">
                  <input type="username" class="form-control" id="inputUsername" placeholder="输入账号">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword" id="labelPassword" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword" placeholder="输入密码">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> 记住我
                    </label>
                    <label id="freeLog">
                      <input type="checkbox"> 自动登录
                    </label>
                    <label id="forgetPassword">
                      <input type="checkbox"> 忘记密码
                    </label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-block" data-dismiss="modal" id="login_">登录</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">注册</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputUsername1" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputUsername1">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword1" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword1">
                </div>
              </div>
              <div class="form-group">
                <label for="inputRepeatpassword" class="col-sm-2 control-label">重复密码</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputRepeatpassword">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail">
                </div>
              </div>              
              <div class="form-group">
                <label for="inputSchool" class="col-sm-2 control-label">学校</label>
                <select class="form-control" id="selectSchool">
                  <option>选择你的学校</option>
                  <option>中山大学</option>
                  <option>清华大学</option>
                  <option>北京大学</option>
                  <option>华南理工大学</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputCollege" class="col-sm-2 control-label">学院</label>
                <select class="form-control" id="selectCollege">
                  <option>选择你的学院</option>
                  <option>软件学院</option>
                  <option>岭南学院</option>
                  <option>医学院</option>
                  <option>社会教育学院</option>
                  <option>信息科学与技术学院</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputMajor" class="col-sm-2 control-label">专业</label>
                <select class="form-control" id="selectMajor">
                  <option>选择你的专业</option>
                  <option>数字媒体</option>
                  <option>电子政务</option>
                  <option>嵌入式软件</option>
                  <option>通用软件</option>
                  <option>计算机应用</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputYear" class="col-sm-2 control-label">入学年份</label>
                <select class="form-control" id="selectYear">
                  <option>选择你的入学年份</option>
                  <option>2014</option>
                  <option>2013</option>
                  <option>2012</option>
                  <option>2011</option>
                  <option>2010</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-block" id="register_">确认注册</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.模态框 -->
  <!-- 内容 --> 
  <div id="content" class="container"> 
   <!-- 大家在content中填写自己的页面内容 --> 
   <!-- 把你的css添加到上面的css中，把你的js添加到下面的js中--> 
   <!-- 除了添加，不要改动一切其他东西--> 
   <form role="form"> 
    <div class="span1"> 
     <div class="input-group"> 
      <input type="text" class="form-control" id="search" /> 
      <span class="input-group-btn"> <button type="submit" class="btn btn-primary" id = "searchcourse"> 搜索课程 </button> <button type="submit" class="btn btn-primary" id="searchhw"> 搜索作业 </button> </span> 
      
      
     </div>
     <!-- /input-group --> 

    </div>
    <!-- /.span1 --> 
   </form> 

   <div class="span2"> 
    <p><font color="#ADADAD">最热课程</font></p> 
   </div> 
   <div class="sum"> 
    <div class="top10"> 
     <a href="#" class="list-group-item active" id = "top10title">
   贡献排行榜
</a>
<a href="#" class="list-group-item">isco</a>
<a href="#" class="list-group-item">李度山</a>
<a href="#" class="list-group-item">Austin_Yang</a>
<a href="#" class="list-group-item">大计应</a>
<a href="#" class="list-group-item">德盛</a>
    </div> 
    <div class="main"> 
     <div class="span3"> 
      <div class="class_text"> 
       <div class="class_head"> 
        <p style="font-family:verdana;color:#19B68A" class="coursetitle"> <a href="classpage.html">《数据库原理》 中山大学软件学院 冯剑琳 </a> </p> 
       </div> 
       <div class="class_content"> 
        <p style="font-family:verdana;font-size:50%;color:black" class="lasthw"> 《数据库系统概论》（第四版）是数据管理的最新技术，是计算机科学的重要分支，它为计算机专业、管理专业等众多学科提供利用计算机技术进行数据管理的基本理论知识，是计算机专业、管理专业等学科的专业必修课。 本课程主要介绍数据库的基本理论和应用方法。本课程的任务是通过各个教学环节，运用各种教学手段和方法，使学生在掌握数据模型、数据库管理系统、数据库语言及数据库设计理论等基本理论知识的基础上，逐步具有开发和设计数据库的能力，为进一步开发和设计大型信息系统打下坚实基础。 数据库技术和系统已经成为信息基础设施的核心技术和重要基础。数据库技术作为数据管理的最有效的手段，极大的促进了计算机应用的发展。 </p> 
        <div class="fans_num"> 
          
          <a href="javascript:;" style="font-family:verdana;font-size:30%;color:#19B68A" class = "like">789赞</a> 
           <a>&nbsp</a>
          <a href="javascript:;" style="font-family:verdana;font-size:30%;color:#19B68A" class = "follow">233关注</a> 
         </div> 
       </div> 
      </div> 
      <div class="classpic"> 
       <a href="classpage.html"><img src="__RESOURCE__/yy/class1.jpg" width="120" ;="" align="right" height="170" class= "bookimg" /></a> 
      </div> 
     </div> 
     <div class="clear"> 
      <div class="span3"> 
       <div class="class_text"> 
        <div class="class_head"> 
         <p style="font-family:verdana;color:#19B68A" class="coursetitle"> <a href="classpage.html">《会计电算化》 厦门大学金融学院 吕晶 </a> </p> 
        </div> 
        <div class="class_content"> 
         <p style="font-family:verdana;font-size:50%;color:black" class="lasthw"> 《会计电算化》，就是计算机技术在会计工作中的应用，是会计专业的核心课程，是经济类专业的一门专业主干课程，属于必修课。本课程在教学中按照会计核算岗位工作的基本流程，依托财务核算软件按照系统初始设置、建账、算账、结账、报表输出的过程安排整个教学内容，学生可以通过实际案例，利用财务软件完成整个会计核算工作，整个课程以突出对学生会计职业能力的培养为特色。 本课程以传授会计电算化必备的理论知识和基本操作技能为主要目的，要求学生掌握会计电算化的基本概念和基础知识，理解实现会计电算化的意义、步骤和方法。 </p> 
         <div class="fans_num"> 

          <a href="javascript:;" style="font-family:verdana;font-size:30%;color:#19B68A" class = "like">47赞</a> 
           <a>&nbsp</a>
          <a href="javascript:;" style="font-family:verdana;font-size:30%;color:#19B68A" class = "follow">233关注</a> 
         </div> 
        </div> 
       </div> 
       <div class="classpic"> 
        <a href="classpage.html"><img src="__RESOURCE__/yy/class4.jpg" width="120" ;="" align="right" height="170" class= "bookimg" /></a> 
       </div> 
      </div> 
      <div class="clear"> 
       <div class="span3"> 
        <div class="class_text"> 
         <div class="class_head"> 
          <p style="font-family:verdana;color:#19B68A" class="coursetitle"> <a href="classpage.html">《机械设计基础》 西安交通大学机械系 王克 </a> </p> 
         </div> 
         <div class="class_content"> 
          <p style="font-family:verdana;font-size:50%;color:black" class="lasthw"> 本课程是机械制造类各专业的一门重要的专业课，它的任务是使学生掌握常用机构和通用零件的基本理论和基本知识，初步具有这方面的分析、应用、设计能力，并通过必要的基本技能训练，培养学生正确的设计思想和严谨的工作作风，为培养高素质技能型人才奠定基础。因此在机械类及近机械类专业的教学计划中占有重要地位和作用，是高等工科院校中近机械类专业一门主干课程，在人才培养的教学计划中占有重要的地位。该课程60学时，承担学院机电工程系各专业的机械设计基础课程的教学任务。 </p> 
         <div class="fans_num"> 

          <a href="javascript:;" style="font-family:verdana;font-size:30%;color:#19B68A" class = "like">7赞</a> 
           <a>&nbsp</a>
          <a href="javascript:;" style="font-family:verdana;font-size:30%;color:#19B68A" class = "follow">233关注</a> 
         </div> 
         </div> 
        </div> 
        <div class="classpic"> 
         <a href="classpage.html"><img src="__RESOURCE__/yy/class5.jpg" width="120" ;="" align="right" height="170"  class= "bookimg"/></a> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
    <!-- jQuery 的js --> 
    <script src="__JS__/jquery.min.js"></script> 
    <!-- 其他插件的js --> 
    <!-- // <script src="/bootstrap/js/bootstrap.min.js"></script>  -->
    <script src="__JS__/flat-ui.min.js"></script> 
    <script src="__JS__/prettify.js"></script> 
    <script src="__JS__/application.js"></script> 
    <script src="__JS__/home.js"></script> 
    <script src="__JS__/template.js"></script>
    <script src="__JS__/jquery.cookie.js"></script>
    <script src="__JS__/jquery.cookie.js"></script>
 </body>
</html>